/* ELEMENT SELECTORS */
a {
    color: #8431DE;
}

body {
    background-color: #74F028;
}

/* CLASS SELECTORS */
.card {
    /* border: 2px;
    border-style: dashed;
    border-color: #333; */
    background-color: #93F70C;
    color: #000000;
    border: none;
    box-shadow: 5px 5px 3px #666;
}

.card-body .list-group-item {
    background-color: #93F70C;
}

.card-header {
    background-color: #264653;
    color: #FFF;
}

.info {
    color: #264653;
}

.list-group {
    box-shadow: 3px 3px 2px #666;
}

.team-heading {
    background-color: #264653;
    color: #fff;
}





